{% extends "movies/base.html" %}

{% block content %}

<div class="p-6">

  <!-- TOP 10 -->
  <h2 class="text-2xl font-bold mb-4 text-white">Top 10</h2>

  <div class="flex overflow-x-auto scroll-smooth snap-x snap-mandatory gap-4 mb-10">
    {% for movie in top_movies %}
    <div class="min-w-[80px] snap-start">
      <img class="rounded-lg"
        src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/{{movie.poster_path}}" />

      <a href="/movies/{{movie.id}}" class="block text-sky-400 font-bold">
        {{movie.title|truncatechars:30}}
      </a>

      <p class="text-yellow-400">
        ⭐ {{movie.avg_rating|floatformat:1}}
      </p>
    </div>
    {% endfor %}
  </div>


  <!-- FAVORITOS -->
  <h2 class="text-2xl font-bold mb-4 text-white">Mis Favoritas</h2>

  <div class="flex overflow-x-auto scroll-smooth snap-x snap-mandatory gap-4 mb-10">
    {% for fav in favorites %}
    <div class="min-w-[80px] snap-start">
      <img class="rounded-lg"
        src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/{{fav.movie.poster_path}}" />

      <a href="/movies/{{fav.movie.id}}" class="block text-sky-400 font-bold">
        {{fav.movie.title|truncatechars:30}}
      </a>
    </div>
    {% empty %}
    <p class="text-gray-400">No tienes favoritas aún</p>
    {% endfor %}
  </div>


  <!-- TODAS -->
  <h2 class="text-2xl font-bold mb-4 text-white">Todas las películas</h2>

  <div id="artworks-container"
       class="flex overflow-x-auto scroll-smooth snap-x snap-mandatory gap-4">

    {% for movie in movies %}
    <div class="min-w-[80px] snap-start">
      <img class="rounded-lg"
        src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/{{movie.poster_path}}" />

      <a href="/movies/{{movie.id}}" class="block text-sky-400 font-bold">
        {{movie.title|truncatechars:30}}
      </a>

      <span class="text-gray-400 text-sm">
        {{movie.release_date}}
      </span>
    </div>
    {% endfor %}
  </div>
  <button class="flex w-48 mt-10 justify-center mx-auto rounded-md
        bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white
        shadow-sm hover:bg-indigo-500 focus-visible:outline
        focus-visible:outline-2 focus-visible:outline-offset-2 
        focus-visible:outline-indigo-600"
        hx-get="/movies/random" hx-target="#artworks-container" hx-swap="beforeend"
    >Get More Movies</button>

</div>

{% endblock %}