{% extends "movies/base.html" %}

{% block content %}

<a href="/movies/movie_comment/add/{{movie.id}}/">Add Comment</a>
<article>
 <div class="container flex mx-auto px-5 py-2 lg:px-32 lg:pt-12 ">
    <div class="overflow-hidden rounded-lg bg-white shadow w-1/3 h-full">
      <div class="px-4 py-5 sm:p-6">
          <div class="w-full p-1 md:p-2">
            <img
              class="block h-full  w-full rounded-lg object-cover object-center"
              src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/{{movie.poster_path}}" alt="{{movie.title}}" />
          </div>
      </div>
      <div class="bg-gray-50 px-4 py-4 sm:px-6">
          <div  class=" -m-1 h-12 mt-1 mb-5 "> 
            <p class="mt-3 pl-8 text-gray-600  font-thin"> Data from: </p>
            <a href="https://www.tmdb.org{{artwork.path}}" class="block overflow-hidden
                        text-ellipsis pl-5 text-sky-600 pb-5"> tmdb.org{{artwork.path}}  </a>
          </div>
      </div>
    </div>
 <div class="overflow-hidden w-1/2 h-full">
    <div class="px-4 py-4 sm:px-6">
          <div  class=" -m-1 mt-1 mb-5 "> 
            <p class="block overflow-hidden
                        text-ellipsis pl-5 dark:text-gray-200 text-xl font-bold"> {{movie.title}} ({{movie.release_date|date:"Y"}}) </p>
                    <p class="mt-1 pl-5 text-gray-600 text-xs font-thin"> 
              {% for g in movie.genres.all %} 
              {{g}} 
              {% if not forloop.last %}
              -
              {% endif %}
              {%endfor%}  </p>
              <div class="flex mt-2">
                {% if user.is_authenticated %}
                <a class="pl-5 text-blue-600 text-sm"   
                 hx-get="/movies/movie_review/add/{{movie.id}}" hx-target="body" hx-swap="beforeend"  href="#">reviews</a> 
                 {% endif %}
                <a class="pl-5 text-red-600 text-sm" href="#">like</a> 
              </div> 
            
            <h1 class="mt-5 text-gray-600 text-base  pl-5 font-semibold">Overview</h1>
            <p class="mt-2 pl-5 text-gray-500 text-sm font-normal font-sans">{{ movie.overview }}</p>
            <p class="mt-5 text-gray-600 text-sm  pl-5 font-semibold"> Credits:
               <p class="mt-2 pl-5 text-gray-600 text-sm  font-thin">
              {% for c in movie.credits.all %} 
              {{c}} {% if not forloop.last %} - {% endif %}
              {%endfor%}  
              </p> 
           <p class="block overflow-hidden mt-6 mb-3
                        text-ellipsis dark:text-gray-200 text-xl font-bold"> Reseñas: </p>
            <div hx-trigger="listChanged from:body" hx-get="{% url 'movie_reviews' movie.id  %}" hx-target="this" >
           
            
            {% include "movies/reviews.html" %}
            
                  
            </div>
 
          
          </div>
        
            
      </div>
    </div>
 </div>
</article>
{% endblock content %}